
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');




* {
    margin: 0px;
    padding: 0px;

}

body {
    background-color: #EAEAEA;
}

/**************Top bar design  *****************/

.topbar {
    /* background-color: rgb(227, 39, 39); */
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
    padding-left: 30px;
    padding-right: 30px;
}

.nav-top img{
    height: 40px;
    width: 40px;
    background-color:rgb(199, 196, 196);
    border-radius: 16px;
    padding: 10px;
}

.topbar .logo-top{
    height: 60px;
    width: 155px;
}
.topbar .profile_img{
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 16px;
}

.banner-container{
    height: auto;
    width: 100%;
    padding: 5.9%;
}

.banner{
    height: 200px;
    width: 100%;
    background-color: #FFCB46;
    border-radius: 20px;
    
    
}
.banner div:nth-child(1){
    height: 30%;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-left: 30px;
    margin-top: 30px;
}

.banner span{
    font-size: 25px;
    font-weight: 800;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    
}
.banner div:nth-child(2){
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    
    
}

.banner img{
    height:155px;
    width: 50%;
}





/**************bottom Nav bar design *****************/

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    padding: 10px 0;
    position: fixed;
    /* Fix the navbar at the bottom */
    bottom: 0;
    /* Position it at the bottom */
    width: 100%;
    /* Full width */
}


.nav-button {
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-button:hover {
    background-color: #f9d4d4;
}