body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    color: #007bff;
    cursor: pointer;
}

.logo img {
    height: 50px;
    width: 80%;
}

.container {
    width: 300px;
    text-align: center;
}

.logo {
    margin-bottom: 20px;
}

h1 {
    margin: 20px 0;
}

input {
    width: 90%;
    height: 30px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 15px;
    background-color: #262E3C;
    color: #fff;
}

button {
    width: 95%;
    height: 50px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 15px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.forgot-password {
    margin: 10px 0;
    font-size: 14px;
    color: #605858;
}

.account-info {
    margin: 10px 0;
    font-size: 14px;
}

.google-button img {
    height: 30px;
    width: 30px;
    margin-right: 20px;
}

.google-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    font-weight: 800;

}

.divider {
    margin: 20px 0;
    position: relative;
}

.divider::before,
.divider::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 40%;
    height: 1px;
    background: #fff;
}

.divider::before {
    left: 0;
}

.divider::after {
    right: 0;
}

.divider span {
    background: #000;
    padding: 0 10px;
    position: relative;
    z-index: 1;
}